@use 'config' as *;

footer {
    width: $small-size;
    padding: 20px 0;
    margin-top: auto;
    color: $color-primary;
}

@media screen and (min-width: $bp-medium) {
    footer {
        width: $m-main-width;
    }
}

@media screen and (min-width: $bp-large) {
    footer {
        width: $l-main-width;
    }
}
