@use 'config' as *;

header {
    position: relative;
    width: $small-size;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    padding-top: 2rem;

    nav {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        order: 1;

        a {
            font-size: 1rem;
        }
    }

}

/* Pour telephone paysage
@media screen and (min-width: 320px) and (max-width: 640px) and (orientation: landscape) { */

@media screen and (min-width: $bp-medium){
    header {
        width: $m-main-width;

        nav {
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

@media screen and (min-width: $bp-large) {
    header {
        width: $l-main-width;
    }
}
