// variables

/* MEDIA SIZES  */
$l-width: 405px;
$l-height: 720px;

$m-width: 290px;
$m-height: /* 515.555555562px; */  $m-width * $l-height / $l-width;

/* SCREEN SIZES  */

/* MAIN DIV SIZE MOSTLY USED FOR */

$full-width: 100vw;
$full-height: 100vh;
$small-size: 80vw;

/* 980 px screen  */

$m-main-width: $m-width * 3;
$l-main-width: $l-width * 3;

/* MIXINS  */
// mm- stands for medium media
// lm - large media

@mixin mm-size {
    max-width: $m-width;
    max-height: $m-height;
}

@mixin lm-size {
    max-width:  $l-width;
    max-height: $l-height;
}