@use 'config' as *;

/* Import elements */

@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Jost:wght@100;200;300;500;700&family=Lacquer&family=Permanent+Marker&family=Zilla+Slab+Highlight&display=swap");

:root {
    font-family: sans-serif;
    color: $color-text;
    font-size: calc(1vw + 1vh + 0.5vmin);
}

h1,
h2,
h3,
a {
    font-family: $font-main;
    // margin-top: 1.5em;
}
a {
    padding-top: 10px;
    padding-bottom: 10px;
}

h1 {
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: 300;
    hyphens: auto;
    margin-top: 1em;
    background: linear-gradient(45deg, $color-primary, $color-secondary 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

h2 {
    padding-top: 2em;
    font-weight: 400;
}

p {
    // background-color: yellow;
    font-weight: lighter;
    line-height: 1.6em;
    margin: 1rem 0 0.5rem 0;
}

/* LINKS */

a {
    font-size: 0.8em;
    font-weight: 500;
    color: $color-text;
    text-decoration: none;
    transition: color 200ms;

    &:hover {
        color: $color-primary;
        transition: color 200ms;
    }
    &.active {
        color: $color-secondary;
    }
}

.external-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10px;

    a {
        font-size: 1em;
        font-family: $font-mono;
    }

    a:hover {
        color: $color-link-external;
    }
}

footer {
    color: $color-text;

    a {
        font-size: 1em;
        font-family: $font-mono;
    }

    a:hover {
        color: $color-link-external;
    }

    p {
        padding: 0;
    }
}

    @media screen and (min-width: $bp-medium) {
        a {
             font-size: 1.8em;
        }

        footer {
            a {
                font-size: 0.6em;
            }
        }
    }