// import modules 
@use 'sass:math';


// variables

// MEDIA SIZES
$l-width: 405px;
$l-height: 720px;

$m-width: 290px;
$m-height: math.div($m-width * $l-height, $l-width);

// SCREEN SIZES

$full-width: 100vw;
$full-height: 100vh;
$small-size: 80vw;

// 980 px screen

$m-main-width: $m-width * 3;
$l-main-width: $l-width * 3;

// MIXINS
// mm- stands for medium media
// lm - large media

@mixin mm-size {
    max-width: $m-width;
    max-height: $m-height;
}

@mixin lm-size {
    max-width:  $l-width;
    max-height: $l-height;
}

// Breakpoints
$bp-medium: 768px;  // tablette / paysage grand téléphone
$bp-large: 1200px;  // desktop

// Typographie
$font-main: "Jost";
$font-mono: "Inconsolata";
$font-marker: "Permanent Marker";
$font-lacquer: "Lacquer";
$font-highlight: "Zilla Slab Highlight";
