@use 'config' as *;

/* page scroll bar */

#scroll-bar {
    position: fixed !important;
    top: env(safe-area-inset-top, 0px);
    left: 0;
    overflow: hidden;
    z-index: 500;

    #scroll-indicator {
        top: 0;
        width: 100vw;
        height: 0.25em;

background: linear-gradient(90deg, $color-primary 20%, $color-secondary 67%);
background-size: 300% 100%;
    }
}
